/* 구글 웹 폰트 로딩 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}
button, input {
    outline: none;
    border: none;
    color: inherit;
}

/* common */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
body {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    /* 한글이 더 많으니까 기본으로 지정해두고 시작 */
}

.en {
    font-family: 'Exo 2', sans-serif;
    /* 영어로 적힌 부분에 이 클래스를 추가해주겠다 */
}
br.mo {
    display: none;
    /* br태그는 줄바꿈, display: none;을 넣으면 줄바꿈이 일어나지 않는다 
    모바일에서는 한 줄로 나오면 보기가 어려움*/
    
}

/* header style */
header {
    /* background: tomato; */
    background: rgba(0, 0, 0, 0.2);
    height: 100px;
    line-height: 100px;

    width: 100%;
    /* position 쓰면 가로화면이 깨질 수 있다, 다시 가로 100% 맞춰주기 */
    position: fixed; /* fixed 브라우저 기준(스크롤을 내려도 위에(top: 0;)고정되어 있음 */
    top: 0;

    z-index: 1000;
}
header .inner-header {
    /* background: greenyellow; */
    width: 84%;
    margin: 0 auto;
}
header .inner-header .logo {
    /* background: skyblue; */
    float: left ;
    width: 200px;
}
header .inner-header .logo img {
    width: 100%;
    /* 이미지를 가로 100%로 만들기, 부모박스 크기 안에 들어감 */
}
header .inner-header .gnb {
    /* background: violet; */
    float: left;
    margin-left: 80px;
}
header .inner-header nav li {
    float: left;
    /* 
    gnb, tnb 둘다 nav 
    .gnb li, .tnb li 각각 float 걸지 않고 한번에 해결 
    */
}
header .inner-header nav li a {
    font-size: 16px;
    color: #fff;
}
header .inner-header .gnb li {
    margin-right: 80px;
}
header .inner-header .gnb li a {
    /* background: red; */

    display: block;
    /* inline요소를 block으로 바꿔주면서 링크 영역이 위 아래 넓어짐 */
}
header .inner-header .gnb li a:hover {
    color: #ff8342;
}
header .inner-header .tnb {
    /* background: orangered; */
    float: right;
}
header .inner-header .tnb li {
    margin-right: 25px;
}
header .inner-header .tnb li a {
    text-align: center;
    /* 이건 왜 쓴 걸까? */
}
/* header .inner-header .tnb li:nth-child(-n+2) i  */
header .inner-header .tnb li:first-child i,
header .inner-header .tnb li:nth-child(2) i{
    margin-right: 8px;
    font-size: 20px;
}
header .inner-header .tnb li:last-child i {
    margin-left: 5px;
}
header .inner-header .tnb li:last-child a {
    display: block;
    /* a는 인라인요소 */
    width: 105px;
    line-height: 2;
    /* 
    폰트 px 기준 
    현재 font-size: 16px; line-height: 32px; 
    */
    border: 1px solid #fff;
    border-radius: 30px;
    margin-top: 33px;
}
header .inner-header .tnb li:last-child a:hover {
    background: #fff;
    color: #ff8342;
}

/* mobile 메뉴 햄버거 버튼 숨김처리 */
header .inner-header .gnb-mobile {
    display: none;
    /* 반응형 웹에서 햄버거버튼이 쓰임 */
}

/* section main style */
section.main {
    background: url('../img/vis_4.jpg') no-repeat center / cover fixed;
    height: 100vh;
    /* vh 써야함, 화면전체 
    vh(Viewport height Viewport): 웹사이트에서 보여지는 영역.*/

    position: relative;
}
section.main .main-title {
    /* background: tomato; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7) ;
}
section.main .main-title h2 {
    font-size: 55px;
}
section.main .main-title p {
    font-size: 25px;
    margin: 20px 0;
    /* 위 아래 둘다 거리 벌리고 */
}
section.main .main-title .view {
    display: block;
    /* 
    a는 인라인요소
    text는 인라인, display: block;이 되는 순간 부모의 text-align: center;는 먹히지 않는다
    margin: 0 auto;를 써서 좌우 중간 정렬시키기 
    */
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 40px;
    width: 180px;
    padding: 8px 0;
    margin: 0 auto; /* 좌우 중간 정렬 */
    letter-spacing: 2px;

    position: relative;
    overflow: hidden;
    /* 자식이 나보다 크면 숨겨 */
}
section.main .main-title .view::after {
    /* 가상박스 after 
       똑같은 박스 하나 더 만들어서 겹쳐놓기 */
    content: '';
    display: block;
    width: 0; /* hover 했을 때 보여야 하니까 */
    height: 100%;
    background: rgba(255, 255, 255, 0.4);

    position: absolute;
    left: 0;
    top: 0;

     transition: 0.3s;
}
section.main .main-title .view:hover::after {
    /*  view에 커서가 올라갔을 때 나타나야하므로 hover::after 순서이다 */
    width: 100%;
}

