/* 구글 웹 폰트 로딩 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}
button, input {
    outline: none;
    border: none;
    color: inherit;
}

/* common */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
body {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    /* 한글이 더 많으니까 기본으로 지정해두고 시작 */
}

.en {
    font-family: 'Exo 2', sans-serif;
    /* 영어로 적힌 부분에 이 클래스를 추가해주겠다 */
}
br.mo {
    display: none;
    /* br태그는 줄바꿈, display: none;을 넣으면 줄바꿈이 일어나지 않는다 
    모바일에서는 한 줄로 나오면 보기가 어려움*/
    
}

/* header style */
header {
    /* background: tomato; */
    background: rgba(0, 0, 0, 0.2);
    height: 100px;
    line-height: 100px;

    width: 100%;
    /* position 쓰면 가로화면이 깨질 수 있다, 다시 가로 100% 맞춰주기 */
    position: fixed; /* fixed 브라우저 기준(스크롤을 내려도 위에(top: 0;)고정되어 있음 */
    top: 0;

    z-index: 1000;
}
header .inner-header {
    /* background: greenyellow; */
    width: 84%;
    margin: 0 auto;
}
header .inner-header .logo {
    /* background: skyblue; */
    float: left ;
    width: 200px;
}
header .inner-header .logo img {
    width: 100%;
    /* 이미지를 가로 100%로 만들기, 부모박스 크기 안에 들어감 */
}
header .inner-header .gnb {
    /* background: violet; */
    float: left;
    margin-left: 80px;
}
header .inner-header nav li {
    float: left;
    /* 
    gnb, tnb 둘다 nav 
    .gnb li, .tnb li 각각 float 걸지 않고 한번에 해결 
    */
}
header .inner-header nav li a {
    font-size: 16px;
    color: #fff;
}
header .inner-header .gnb li {
    margin-right: 80px;
}
header .inner-header .gnb li a {
    /* background: red; */

    display: block;
    /* inline요소를 block으로 바꿔주면서 링크 영역이 위 아래 넓어짐 */
}
header .inner-header .gnb li a:hover {
    color: #ff8342;
}
header .inner-header .tnb {
    /* background: orangered; */
    float: right;
}
header .inner-header .tnb li {
    margin-right: 25px;
}
header .inner-header .tnb li a {
    text-align: center;
    /* 이건 왜 쓴 걸까? */
}
/* header .inner-header .tnb li:nth-child(-n+2) i  */
header .inner-header .tnb li:first-child i,
header .inner-header .tnb li:nth-child(2) i{
    margin-right: 8px;
    font-size: 20px;
}
header .inner-header .tnb li:last-child i {
    margin-left: 5px;
}
header .inner-header .tnb li:last-child a {
    display: block;
    /* a는 인라인요소 */
    width: 105px;
    line-height: 2;
    /* 
    폰트 px 기준 
    현재 font-size: 16px; line-height: 32px; 
    */
    border: 1px solid #fff;
    border-radius: 30px;
    margin-top: 33px;
}
header .inner-header .tnb li:last-child a:hover {
    background: #fff;
    color: #ff8342;
}

/* mobile 메뉴 햄버거 버튼 숨김처리 */
header .inner-header .gnb-mobile {
    display: none;
    /* 반응형 웹에서 햄버거버튼이 쓰임 */
}

/* section main style */
section.main {
    background: url('../img/vis_4.jpg') no-repeat center / cover fixed;
    height: 100vh;
    /* vh 써야함, 화면전체 
    vh(Viewport height Viewport): 웹사이트에서 보여지는 영역.*/

    position: relative;
}
section.main .main-title {
    /* background: tomato; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7) ;
}
section.main .main-title h2 {
    font-size: 55px;
}
section.main .main-title p {
    font-size: 25px;
    margin: 20px 0;
    /* 위 아래 둘다 거리 벌리고 */
}
section.main .main-title .view {
    display: block;
    /* 
    a는 인라인요소
    text는 인라인, display: block;이 되는 순간 부모의 text-align: center;는 먹히지 않는다
    margin: 0 auto;를 써서 좌우 중간 정렬시키기 
    */
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 40px;
    width: 180px;
    padding: 8px 0;
    margin: 0 auto; /* 좌우 중간 정렬 */
    letter-spacing: 2px;

    position: relative;
    overflow: hidden;
    /* 자식이 나보다 크면 숨겨 */
}
section.main .main-title .view::after {
    /* 가상박스 after 
       똑같은 박스 하나 더 만들어서 겹쳐놓기 */
    content: '';
    display: block;
    width: 0; /* hover 했을 때 보여야 하니까 */
    height: 100%;
    background: rgba(255, 255, 255, 0.4);

    position: absolute;
    left: 0;
    top: 0;

    transition: 0.3s;
}
section.main .main-title .view:hover::after {
    /*  view에 커서가 올라갔을 때 나타나야하므로 hover::after 순서이다 */
    width: 100%;
}

/* section about style */
section.about {
    /* background: orange; */
    padding: 80px 0;
}
section .title {
    /* section .title 비슷한 부분 한 번에 스타일 설정하기 */
    text-align: center;
}
section .title h2 {
    font-size: 45px;
    color: #000;
    margin-bottom: 5px;
}
section .title p {
    font-size: 18px;
    color: #555;
}

section.about ul {
    width: 74%;
    margin: 30px auto;
    /* background: orange; */
    border-bottom: 1px solid #ddd;
}
section.about ul li {
    float: left;
    width: 33.33333%;
    /* border: 2px solid #000; */
    /* box-sizing: border-box; ?? */
}
section.about ul li .img-box {
    /* 그림이 커졌을 때 영역을 벗어나므로 */
    overflow: hidden;
}
section.about ul li .img-box img {
    width: 100%;
    transition: 0.6s;
}
section.about ul li a:hover .img-box img {
    /* 링크에 마우스 커서를 가져갔을 때 그림이 커진다 */
    transform: scale(1.2);
}
section.about ul li a .text {
    padding: 25px;
}
section.about ul li a .text h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
section.about ul li a .text p {
    font-size: 16px;
    margin-bottom: 20px;
}
section.about ul li a .text p.more {
    /* 일괄 대소문자 변경 <-> lowercase*/
    text-transform: uppercase;
    font-weight: 700;
    /* background: skyblue; */

    /* 화살표 들어갈 공간 확보 */
    padding-left: 40px;

    position: relative;
}
section.about ul li a .text p.more::before {
    content: '→';
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #ff8342;
    border-radius: 50%; /* 동그라미가 된다*/

    position: absolute;
    left: 0;
    top: -6px;
}

/* section innovation style */
section.innovation {
    margin-bottom: 150px;
}
section.innovation .img-box {
    width: 74%;
    height: 540px;
    margin: 50px auto 0;
    background: url('../img/product_1.jpg') no-repeat center / cover;

    position: relative;
}
section.innovation .img-box .inner {
    background: #3a3c4e;
    width: 80%;
    color: #fff;

    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, 0);
}
section.innovation .img-box .inner h3 {
    background: #fff;
    color: #222;
    font-size: 18px;
    padding: 25px 45px;
    box-sizing: border-box;
}
section.innovation .img-box .inner .bottom {
    padding: 35px 85px;
    box-sizing: border-box;
}
section.innovation .img-box .inner .bottom p {
    width: 70%;
    float: left;
    line-height: 1.6;
}
section.innovation .img-box .inner .bottom a {
    float: right;
    /* display: block;  float가 걸리면 블록. 굳이 display:block;을 적을 필요가 없다 */
    background: #ff8342;
    border-radius: 50px;
    padding: 7px 30px;;
}
section.innovation .img-box .inner .bottom a:hover {
    background: #f86016;
}

/* section me style */
section.me {
    padding: 80px 0;
    margin-bottom: 150px;
    background: url('../img/me.jpg') no-repeat center / cover;
}
section.me ul.list {
    width: 74%;
    margin: 50px auto;
    /* background: orange; */
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
section.me ul.list > li {
    /* li 자식들말고 li만 선택하고 싶을 때: > 직속자식 쓰기 */
    padding: 30px 60px;
    /* border: 1px solid #000; */
}
section.me ul.list > li:first-child {
    border-bottom: 1px solid #ddd;
}
section.me ul.list > li h3 {
    font-size: 18px;
    margin-bottom: 20px;
    /* background: orange; */

    position: relative;
}
section.me ul.list > li h3 span {
    /* span도 position 거는 순간 block으로 바뀜 */
    position: absolute;
    left: -35px;
    /* 아이콘도 text(아이콘에 색깔 주고 싶으면 폰트랑 똑같이 하면 됨) */
    color: #ff8342;
}
section.me ul.list > li p {
    line-height: 1.6;
    margin-bottom: 20px;
}
section.me ul.list > li .more {
    font-size: 16px;
    font-weight: 700;
}
section.me ul.list > li .more span {
    color: #ff8342;
    margin-left: 3px;
    font-size: 14px;
}
section.me ul.list ul.in {
    margin-bottom: 30px;
}
section.me ul.list ul.in li em {
    float: left;
    font-weight: 700;
    /* background: tomato; */

    /* 가로길이를 동일하게 해줌으로써 글자 수 차이로 인한 간격을 맞춘다 */
    width: 12%;
}
section.me ul.list ul.in li p {
    float: left;
    /* background: violet; */

    position: relative;
}
section.me ul.list ul.in li p::before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%; /* 원 만들기 */
    background: #ff8342;

    /* position 때문에 display:block; 안써도됨 */
    position: absolute;
    left: -40px;
    top: 10px;
}

#incruit-btn {
    display: block;
    width: 280px;
    background: #ff8342;
    color: #fff;
    margin: 0 auto;
    font-weight: 700;
    border-radius: 50px;
    padding: 10px 0;

    /* reset css가 다 reset시켜서 버튼에 커서를 가져가도 손모양이 뜨지 않는다, 그래서 수동으로 설정 */
    cursor: pointer;
}

/* section sns style */
section.sns {
    margin-bottom: 60px;
}
section.sns ul {
    width: 74%;
    margin: 50px auto;
}
section.sns ul li{
    /* border: 1px solid #000; */
    /* box-sizing: border-box; */
    width: 32%;
    margin-right: 2%;
    float: left;
}
section.sns ul li:last-child {
    margin-right: 0;
}    
section.sns ul li .img-box {
    height: 225px;
    overflow: hidden;

    position: relative;
}
section.sns ul li .img-box::before {
    content: '';
    /* width: 100%; */
    width: 0;
    height: 100%;
    background: rgba(255, 131, 66, 0.75);
    position: absolute;

    transition: 0.5s;
}
section.sns ul li a:hover .img-box::before {
    width: 100%;
}
section.sns ul li .img-box::after {
    content:'BLOG';
    font-size: 15px;
    font-family: 'EXO 2', sans-serif;
    border: 1px solid #fff;
    border-radius: 40px;
    color: #fff;
    padding: 5px 30px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.7s;
}
section.sns ul li a:hover .img-box::after {
    opacity: 1;
}
section.sns ul li .img-box img {
    width: 100%;
}
/* section.sns ul li:nth-child(2) .img-box {
    position: relative;
}
section.sns ul li:nth-child(2) .img-box img {
    position: absolute;
    top: -40px;
} */
section.sns ul li .bottom {
    padding: 20px 0 20px 30px;
    box-sizing: border-box;
}
section.sns ul li .bottom p {
    font-size: 18px;
}
section.sns ul li .bottom p.color {
    color: #ff8342;
    font-size: 15px;
    margin-bottom: 10px;
}
section.sns ul li .bottom p.time {
    color: #999;
    font-size: 14px;
    margin-top: 30px;
}
section.sns ul li .bottom p.time i {
    margin-right: 5px;
    font-size: 0.9em;
}

/* footer style */
footer {
    border-top: 1px solid #999;
    padding: 30px 0;
}
footer .inner {
    width: 84%;
    margin: 0 auto;
}
footer .inner .ft-logo {
    float: left;
    width: 14%;
}
footer .inner .ft-logo img {
    width: 100%;
}
footer .inner .address {
    float: left;
    margin-left: 100px;
    margin-top: 35px;
}
footer .inner .address li:first-child {
    font-weight: 700;
    margin-bottom: 10px;
}
footer .inner .address li:last-child {
    color: #999;
}

footer .inner .list {
    float: right;
    margin-top: 40px;
}
footer .inner .list li {
    float: left;
    margin-left: 80px;
}
footer .inner .list li:last-child {
    font-weight: 700;
}
footer .inner .list li a:hover {
    color: #ff8342;
    text-decoration: underline;
}